:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

header img{
    margin-left: 550px;
    margin-top: 2px;
    margin-right: 10px;
    float: left;
}

body {
  color: black;
  background-color: #dedbd0;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
  z-index: 5;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}

ul.images {
    float: inherit;
    max-width: 100%;
    z-index: -2;
}

ul.images li {
    width: 33%;
    float: left;
    padding: 2px;
    position: relative;
}

ul.images li img {
    width: 100%;
    height: 350px;
    width: 350px;
    margin: 0;
}

ul.images li span.large {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: all .5s;
    position: absolute;
    top: 0;
    left: 0;
}

ul.images li:hover span.large {
    transform: scale(1.5);
    z-index: 111111;
    opacity: 1;
    visibility: visible;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

.body-content{
    width: 100%;
    padding: 20px;
    text-align: justify;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 40px;
    
}

.footer{
    width: 100%;
    height: 38%;
    /*background: #2F4F4F;*/
    display: block;
}

.inner-footer{
    
    width: 100%;
    margin: auto;
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.footer-items{
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
    
}
h1{

    margin: 10px 0;
    padding: 10px 0;
    color: slategray;
    font-size: 25px;
    font-weight: lighter;
    text-transform: uppercase;
}

.footer-items p{
    margin: 10px 0;
    color: slategray;
    font-size: 16px;
    text-align: left;
    line-height: 18px;
    text-transform: left;
    
    
}
h2{
    
    margin: 10px 0;
    padding: 10px 0;
    color: #FFFFE0;
    font-size: 25px;
    font-weight: lighter;
    text-transform: uppercase;
    
}
*************
 
    
}


.border {
    height: 2px 0px;
    width: 40px;
    background: #ff9800;    
}

ul{
    list-style: none;
    color: slategray;
    font-size: 15px;
    letter-spacing: 0.5px;
    
}

ul a{
    text-decoration: none;
    outline: none;
    color: slategray;
    transition: 0.3s;
  
}

ul a:hover{
    color: #ff9800;
    
}

lu li{
    margin: 10px 0;
    height: 25px;
    
}

li i {
    margin-right: 20px;
    
}

.social-media{
    width: 150%;
    color: #fff;
    text-align: center;
}

.social-media  a{
    text-decoration: none;
}

.social-media i{
    height: 15px;
    width: 15px;
    margin: 20px 10px;
    padding: 11px;
    color: goldenrod;
    border-radius: 50px;
    border: 1px solid gray;
    transition: 0.3s;
}

.social-media i:hover{
    background: gray; 
}

.footer-bottom{
    padding: 50px;
    background: #3d545f;
    color: #fff;
    font-size: 12px;
}

\@media screen and (max-width: 1085px){
    .footer-items{
        width: 50%;
    }
}

@media screen and (max-width: 600px){
    .footer-items{
        width: 100%;
    }
}




